/* GENERAL */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #DDDDDD;
	color: #2F343A;
}
body{
	font-family: 'Poppins', sans-serif;
}
.header{
    max-height: 100px;
}
.header .row{
	margin-top: 70px;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1px;
	text-align: right;
}
ul{
	list-style-type: none;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
}
h4{
	color: black;
	font-weight: normal;
}

.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.button{
	display:inline-block;
	background: #2F343A;
	color: #DDDDDD;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.button:hover{
	background: #41AAC4;
}

.title{
	text-align: center;
	margin: 50px auto 50px;
	position: relative;
	line-height: 60px;
	color: #2F343A;
}
.title::after{
	content: '';
	background: #41AAC4;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 .exclusive-img{
	padding: 50px;
	max-height: 400px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;	
}
.col-3 img{
	width: 100%;
}
.col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #2F343A;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	font-size: 16px;
}
.col-4 img{
	width: 100%;
	display: block;
}
.col-4 h4{
	padding-top: 10px;
	text-align: center;
}
.col-4 p{
	text-align: center;
}

.exclusive{
	background: #80CEB9;
	padding: 30px 0;
}

.img{
	position: relative;
}
.overlay-img{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20%;
	background: #2F343A;
	color: #DDDDDD;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s;
}
.overlay-img:hover{
	opacity: 1;
}
.overlay-img > *{
	transform: translateY(20px);
}
.overlay-img > *{
	transform: translateY(0);
}


/*Detail*/

.container1{
	max-width: 1500px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.bigimage > img{
    max-width: 350px;
    max-height: 350px;
    overflow: hidden;
    margin-right: 20px;
}

.images {
    position: relative;
}

.smallimages {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.smallimage {
    margin-top: 0;
    margin: left -5px;
    margin-right: 10px;
}

.smallimage:hover {
    box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
    transition: 0.4s;
}

.smallimage > img {
    width: 60px;
    height: 60px;
}

.smallimage:hover > .hide {
    display: block;
}

.hide {
    display: none;
    animation: fadein 0.5s;
}

.hide img {
    width: 350px;
    height:350px;
    position: absolute;
    left: 0;
    top: 0;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 990px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #DDDDDD;
    padding: 20px 55px;
    box-sizing: border-box;
    text-align: justify;
    border-radius: 4px;
}

.bigimage-infobox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 28px;
    width: 366px;
    line-height: 28px;
    margin-bottom: 30px;
}
.price{
    color: black;
}
.prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}
.btns{
    display:flex;
}

.addcart {
    background-color: #DDDDDD;
    border-radius: 8px;
    width: 150px;
    height: 55px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    border-width: 1px;
    margin-left: 23px;
    color: red;
}

.addcart > a {
    text-decoration: none;
    color: blue;
}

.buynow {
    background-color: #DDDDDD;
    border-radius: 8px;
    width: 150px;
    height: 55px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    margin-left: 17px;
}

.buynow > a {
    text-decoration: none;
    color: red;
}


.products-in-details {
    padding-top: 20px;
}


/* FOOTER */

.footer{
	background: #80CEB9;
	color: #2F343A;
	font-size: 14px;
	padding: 60px 0 20px;
	margin-top: 100px;
}
.footer p{
	color: #2F343A;
}
.footer h3{
	color: #2F343A;
	margin-bottom: 20px;
}
.footer-col{
	min-width: 250px;
	padding-bottom: 20px;
	padding-left: 110px;
	background: #80CEB9;
	flex-basis: 25%;
	text-align: left;
}
.footer-col li{
	background: #80CEB9;
}
.footer-col h3{
	background: #80CEB9;
}
.footer hr{
	border: none;
	background: #2F343A;
	height: 1px;
	margin: 20px 0;
}
.footer-container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	background: #80CEB9;
}
.copyright{
	text-align: center;
	background: #80CEB9;
}





/* PRODUCTS */

.row-2{
	justify-content: space-between;
	margin: 50px auto 50px;
}
select{
	border: 1px solid #41AAC4;
	padding: 5px;
}
select:focus{
	outline: none;
}
.page-button{
	margin: 20px auto 80px;
}
.page-button span{
	display: inline-block;
	border: 1px solid #41AAC4;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-button span:hover{
	background: #2F343A;
	color: #FFFFFF;
}





/* DETAILS */

.single-product{
	margin-top: 80px;
}
.single-product .col-2 img{
	padding: 0;
}
.single-product .col-2{
	padding: 20px;
}
.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}
.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #41AAC4;
}
input:focus{
	outline: none;
}
.small-img-row{
	display: flex;
	justify-content: space-between;
}
.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}





/* CART */

.cart-page{
	margin: 80px auto;
}
table{
	width: 100%;
	border-collapse: collapse;
}
.cart-item{
	display: flex;
	flex-wrap: wrap;
}
tr{
	border: 1px black;
}
th{
	text-align: left;
	padding: 5px;
	color: #2F343A;
	background: #80CEB9;
	font-weight: normal;
}
td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: 192537;
	font-size: 12px;
}
td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}
.total-price{
	display: flex;
	justify-content: flex-end;
}
.total-price table{
	border-top: 3px solid #41AAC4;
	max-width: 300px;
}
td:last-child{
	text-align: right;
}
th:last-child{
	text-align: right;
}
.remove-btn{
	display:inline-block;
	background: #2F343A;
	color: #DDDDDD;
	padding: 5px 20px;
	border-radius: 30px;
}
